@import '../../styles.scss';

section{
  @include dFlex();
  >div{
    @include dFlex($g:32px);
    flex-direction: column;
  }
}

h2{
  font-size: 64px;
  font-weight: bold;
  color: transparent; /* Der Text ist transparent */
  -webkit-text-stroke: 1px var(--primary-color); /* Definiert einen dünnen Rand um den Text */
  background: transparent; /* Verhindert, dass der Text Hintergrundfarbe annimmt */
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

app-ref-cards{
  @include dFlex();
  width: 400px;
  height: 200px;
  border-radius: 40px;
  border: 2px solid;
  border-color: var(--primary-color);
}