<span class="my-work">My Work</span>
<app-card *ngFor="let work of works" [work]="work"></app-card>
<div class="ongoing-projekt">
  <div class="title-container">
    <p>4</p>
    <span>Ongoing Projekt</span>
  </div>
  <div class="description-container">
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic reprehenderit praesentium mollitia aperiam veritatis sequi, atque repellat rerum optio voluptatem similique delectus odio fugiat quaerat tempore eius quae nostrum cupiditate.</span>
    <button>Let s talk</button>
  </div>
  
</div>
<img src="assets/img/Arrow 7.svg" alt="arrow-right">
