@import '../../styles.scss';

section{
  display: flex;
}
div{
  
  width: 32px;
  height: 100vh;
}
nav{
  width: 172px;
  height: 100vh;
  background-color: rgb(181,233,59);
  @include dFlex($g:32px);
  writing-mode: vertical-rl;
  direction: rtl;
  box-shadow: 21px 2px 17px 9px rgba(0,0,0,0.94);

  >a{
    text-decoration: none;
    transform: rotate(180deg);
    font-size: 50px;
    color: rgb(74,74,74);
    &:hover{
      color: white;
    }
  }
}