<section>
  <div class="why-me">Why me</div>
  <div class="why-me-contant">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed numquam, possimus in ea autem esse culpa exercitationem obcaecati. Doloribus   corporis voluptas quae omnis illum sint soluta. Obcaecati eum consequatur voluptate!</p>
    <span class="i-am">I am</span>
    <div class="icon-wrapper">
      <div class="i-am-icons">
        <img src="assets/icons/Group 60.svg" alt="">
        Located in Bischofswiesen
      </div>
      <div>
        <img src="assets/icons/lap top.svg" alt="">
        open to work remote
      </div>
      <div>
        <img src="assets/icons/Icon.svg" alt="">
        open to relocate
      </div>
    </div>
    <button>contact me</button>
  </div>
</section>