<section>
  <div class="why-me">Why me</div>
  <div class="why-me-contant">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed numquam, possimus in ea autem esse culpa exercitationem obcaecati. Doloribus   corporis voluptas quae omnis illum sint soluta. Obcaecati eum consequatur voluptate!</p>
    <p></p>
    <div>
      <img src="assets/icons/Group 60.svg" alt="">
      <img src="assets/icons/lap top.svg" alt="">
      <img src="assets/icons/Icon.svg" alt="">
    </div>
    <button></button>
  </div>
</section>