<section>
  <div class="why-me">Why me</div>
  <div class="why-me-contant">
    <p>I am motivated to continuously learn new technologies and develop myself. My ability to solve complex problems and my passion for programming make me a valuable member of your team.</p>
    <span class="i-am">I am</span>
    <div class="icon-wrapper">
      <div class="i-am-icons">
        <img src="assets/icons/Group 60.svg" alt="">
        Located in Bischofswiesen
      </div>
      <div>
        <img src="assets/icons/lap top.svg" alt="">
        open to work remote
      </div>
      <div>
        <img src="assets/icons/Icon.svg" alt="">
        open to relocate
      </div>
    </div>
    <button>contact me</button>
    <img class="arrow-right" src="assets/img/Arrow 7.svg" alt="">
  </div>
  
</section>