<section>
  <div class="projekt-description-container">
    <div class="projekt-name-container">
      <h2>{{work?.projektNumber}}</h2>
      <h3>Projekt {{work?.projektName}}</h3>
    </div>
    <div class="about-projekt-container">
        <ul>
          <li>About the Projekt</li>
        </ul>
        <span>{{work?.aboutTheProjekt}}</span>
    </div>
    <div class="technologies-container">
      <ul>
        <li>Technologies i have used</li>
      </ul>
      <span>{{work?.technologies}}</span>
    </div>
    <div class="description-container">
      <ul>
        <li>What i have learned</li>
      </ul>
      <span>{{work?.description}}</span>
    </div>
  </div>
  <div class="projekt-img-container">
      <img style="width: 180px; height: 180px;" src="../../../assets/img/Photo.svg" alt="">
      <div>
        <button>click</button>
        <button>click</button>
      </div>
    </div>
</section>
