<section>
  <div class="contact-me-container">
    <span>Contact me</span>
    <form action="/submit" method="POST">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" required><br><br>
    
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required><br><br>
    
      <label for="message">Message:</label><br>
      <textarea id="message" name="message" rows="4" required></textarea><br><br>
    
      <input type="checkbox" id="policy" name="policy" required>
      <label for="policy">I accept the Privacy Policy</label><br><br>
    
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="impressum-container">
    <h4>Let us work together.</h4>
    <span>Whether your project involves developing a new application, upgrading existing systems, 
      or implementing robust cybersecurity measures,
      I have the technical acumen and problem-solving skills to ensure successful outcomes.</span>
      <a href="">E-mail: m.huber&#64;gmail.com</a>
      <a href="">Tel: 0157/123456789</a>
      <img src="assets/img/Arrow 7.svg" alt="arrow-left">
      <a href="">Legal notice</a>
      <a href="">Privacy policy</a>
      <span>&copy; Denis Dudda</span>
  </div>
</section>
